span
{
    text-transform: uppercase;
    background-color: red;
    color: white;
    letter-spacing: 1px;
}
span:hover
{
    text-transform: uppercase;
    background-color: red;
    color: white;
    letter-spacing: 2px;
}