.container
{
    width: 1400px;
    height: 600px;
    background-color: aqua;
    display : flex;
}

.ball
{
    align-self:flex-end;
    background-color: red;
    height:100px;
    width:100px;
    border-radius:50%;
    animation: bounce 10s ease-in-out infinite alternate-reverse;
}

@keyframes bounce {
    0%
    {

    }

    50%
    {
       transform: translateX(650px) translateY(-400px);
    }

    100%
    {
       transform:translateX(1300px) translateY(0px);
    }
}