.container {
  width: 1400px;
  height: 600px;
  background-color: aqua;
  display: flex;
}

.ball {
  align-self: flex-end;
  background-color: red;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation:
    bounce-y 3s infinite ease-in-out alternate-reverse,
    bounce-x 3s infinite linear alternate-reverse;
}

@keyframes bounce-y {
  0% {
  }

  50% {
    transform: translateY(-550px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes bounce-x {
  from {
  }

  to {
    transform: translateX(1000px);
  }
}
