.cardborder
{
    position: relative;
    top: 10vh;
    border: 2px solid black;
    border-radius: 25px;
    width: 420px;
    height: 560px;
    padding: 10px;
    margin: auto;
}

.cardtitle 
{
    position: relative;
    top: -40px;
    text-align: center;
    font-size: 33px;
}

.cardnav ul
{
    position: relative;
    top: -10px;
    list-style-type: none;
    display: flex;
    left: -40px;
}

.cardnav ul li
{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(212, 199, 199);
}

.cardnav ul li a
{
    text-decoration: none;
    color: black;
}

.cardnav ul li:hover
{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.cardcontent
{
    position: relative;
    top: -70px;
    text-align: center;
    font-size: 20px;
}



