.cardborder
{
    position: relative;
    top: 10vh;
    border: 2px solid black;
    border-radius: 25px;
    width: 420px;
    height: 560px;
    padding: 10px;
    margin: auto;
    background-color: rgb(249, 244, 113);
}

.cardtitle 
{
    position: relative;
    top: -40px;
    font-size: 33px;
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
}

.cardnav ul
{
    position: relative;
    top: -10px;
    list-style-type: none;
    display: flex;
    left: -40px;
}

.cardnav ul li
{
    position: relative;
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 5px;
    background-color: rgb(255, 187, 187);
    
}

.cardnav ul li a
{
    text-decoration: none;
    color: black;
}

.cardnav ul li:hover
{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.cardcontent
{
    position: relative;
    top: -70px;
    font-size: 20px;
    font-family: comic sans ms;
    line-height: 1;
    word-spacing: 2px;
}

.cardcontent button
{
    border-radius: 20px;
    position: relative;
    left: 135px;
    font-size: 20px;
    top: -10px;
    text-decoration: none;
    background-color: rgb(109, 203, 219);
}

.cardcontent button a
{
    text-decoration: none;
}

html
{
    background-color: #64b664;
}



